<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@1,300;1,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" type="text/css" />


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/checkout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <nav>
    <div class="logo-slogan">
      <span class="logo">The Donut Company</span>
      <span class="slogan">Make Your Day Donuts</span>
    </div>
    <ul class="nav-menu">
      <li><a href="/">User Name</a></li>
      <li><a href="/">Order History</a></li>
    </ul>
  </nav>

  <main class="container">
    <section class="menu-section">
      <ul class="menu-categories">
        <li><a href="/" active>Most Popular</a></li>
        <li><a href="/">Seasonal</a></li>
        <li><a href="/">Vegan</a></li>
        <li><a href="/">Gluten Free</a></li>
        <li><a href="/">Assortment</a></li>
      </ul>

      <div class="menu-items">
        <%- include('partials/_menu_item'); %>
        <%- include('partials/_menu_item'); %>
        <%- include('partials/_menu_item'); %>
        <%- include('partials/_menu_item'); %>
        <%- include('partials/_menu_item'); %>
        <%- include('partials/_menu_item'); %>
      </div>
    </section>
    <section class="checkout-container">
      <%- include('partials/_checkout'); %>
    </section>

  </main>
  <div id="testMenuItems" style="z-index: 99"></div>
</body>

</html>
